.row {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.col {
    background-color: rgb(101,157,161);
    padding: 20px;
    margin: 10px;
    flex: 1;
}

.col-2 {
    background-color: rgb(101,157,161);
    padding: 20px;
    margin: 10px;
    flex: 2;
}

.col-3 {
    background-color: rgb(101,157,161);
    padding: 20px;
    margin: 10px;
    flex: 3;
}