<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    <title>Authors</title>
</head>
<body>
    <div class="wrapper">
        <div class="left">
            <h1>New Author</h1>
            <form action="/create/author" method="post">
                <div class="form_author">
                    <p>Name:</p>
                    <input type="text" name="name">
                </div>
                <input class="button" type="submit" value="Add Author">
            </form>
        </div>
        <div class="right">
            <h1>All Authors</h1>
            <div class="display_items">
                {% for author in all_authors %}
                <a href="/author/{{ author.id }}">{{ author.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    <a class="nav_link" href="/books">Add Book</a>
</body>
</html>