<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    <title>Wall Login and Registration</title>
</head>
<body>
    <div class="wrapper">
        <div class="register">
            <h1>Register</h1>
            <form action="/register" method="post">
                <div class="input">
                    <p>First Name:*</p>
                    <input type="text" name="first_name">
                </div>
                {% for message in get_flashed_messages(category_filter=["err_first_name"]) %}
                <p class="alert">{{ message }}</p>
                {% endfor %}
                <div class="input">
                    <p>Last Name:*</p>
                    <input type="text" name="last_name">
                </div>
                {% for message in get_flashed_messages(category_filter=["err_last_name"]) %}
                <p class="alert">{{ message }}</p>
                {% endfor %}
                <div class="input">
                    <p>Email:*</p>
                    <input type="text" name="email">
                </div>
                {% for message in get_flashed_messages(category_filter=["err_email"]) %}
                <p class="alert">{{ message }}</p>
                {% endfor %}
                <div class="input">
                    <p>Password:*</p>
                    <input type="password" name="password">
                </div>
                {% for message in get_flashed_messages(category_filter=["err_password"]) %}
                <p class="alert">{{ message }}</p>
                {% endfor %}
                <div class="input">
                    <p>Confirm Password:*</p>
                    <input type="password" name="confirm_password">
                </div>
                {% for message in get_flashed_messages(category_filter=["err_confirm_password"]) %}
                <p class="alert">{{ message }}</p>
                {% endfor %}
                <div class="input">
                    <input class="button" type="submit" value="Register">
                    <p id="required">* fields are required</p>
                </div>
            </form>
        </div>
        <div class="login">
            <h1>Login</h1>
            <form action="/login" method="post">
                <div class="input">
                    <p>Email:</p>
                    <input type="text" name="email">
                </div>
                {% for message in get_flashed_messages(category_filter=["err_email_login"]) %}
                <p class="alert">{{ message }}</p>
                {% endfor %}
                <div class="input">
                    <p>Password:</p>
                    <input type="password" name="password">
                </div>
                {% for message in get_flashed_messages(category_filter=["err_password_login"]) %}
                <p class="alert">{{ message }}</p>
                {% endfor %}
                <input class="button2" type="submit" value="Login">
            </form>
        </div>
    </div>
</body>
</html>