.main {
    justify-content: center;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
}

.button1 {
    background-color: green;
    color: white;
    margin-right: 30px;
    padding: 5px;
    text-align: center;
    width: 60px;
}

.button2 {
    background-color: blue;
    color: white;
    margin-right: 30px;
    padding: 5px;
    text-align: center;
    width: 60px;
}

.button3 {
    background-color: red;
    color: white;
    padding: 5px;
    margin-left: 30px;
    text-align: center;
    width: 60px;
}

.input {
    color: black;
    width: 65px;
    height: 23px;
}

.input_button {
    background-color: aqua;
    box-shadow: 3px 3px;
}