.main {
    justify-content: center;
    text-align: center;
}

.form {
    display: flex;
    justify-content: center;
}

.button1 {
    background-color: green;
    color: white;
    margin-right: 50px;
    padding: 5px;
    text-align: center;
    width: 60px;
}

.button2 {
    background-color: blue;
    color: white;
    margin-right: 50px;
    padding: 5px;
    text-align: center;
    width: 60px;
}

.button3 {
    background-color: red;
    color: white;
    padding: 5px;
    text-align: center;
    width: 60px;
}

.input {
    background-color: aquamarine;
    color: black;
    width: 80px;
    height: 23px;
    margin-right: 50px;
}