* {
    margin: 10px;
}



#search {
    color: rgb(28,160,161);
    border-width: 1px;
    border-color: rgb(28,160,161);
    border-radius: 10px;
    border-style: solid;
}

#plus {
    color: white;
    background-color: turquoise;
    border-radius: 50%;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

#create {
    color: white;
    background-color: blue;
    border-color: black;
    box-shadow: 10px 5px 5px grey;
    border-style: solid;
}