<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Counter</title>
</head>
<body>
    <div class="main">
        <h1 class="header">Counter</h1>
        <h3>{{ count }}</h3>
    </div>
    <div class="form">
        <form action="/count">
            <button class="button1" type="sumbit" name="count">Add 1</button>
        </form>
        <form action="/two">
            <button class="button2" type="sumbit" name="count">Add 2</button>
        </form>
        <form action="/input" method="post">
            <input class="input" type="number" name="amount" placeholder="number">
            <input class="input_button" type="submit">
        </form>
        <form class="form" action="/clear">
            <button class="button3" type="submit" name="reset">Reset</button>
        </form>
    </div>

    
</body>
</html>