/* index.html css */
.index_header {
    padding: 15px;
}

.user_table {
    margin-left: 15px;
}

.action {
    display: flex;
}

.action a, .action p {
    padding-right: 5px;
}

td {
    height: 40px;
}

/* create.html css */
.create_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    width: 25%;
}

.user_input {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 25%;
}

.input_name {
    padding: 5px 0px;
}

.submit_button {
    margin-top: 10px;
    width: 100px;
}

/* Show user css */
.user_header {
    margin-left: 15px;
}
.display_box {
    border: 3px solid black;
    margin-left: 15px;
    width: 25%;
}

.display_box p {
    padding-left: 10px;
}

.display_box span {
    font-weight: bold;
}

.edit_options {
    align-items: center;
    display: flex;
    margin-left: 15px;
}

.edit_options p {
    padding: 0px 5px;
}

/* Edit user css */
.edit_nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.submit_button {
    background-color: blue;
    color: white;
}