* {
    background-color: lightsteelblue;
}

h1 {
    text-align: center;
}

img {
    height: 200px;
}

.hawaii, .game, .starwars {
    margin: 20px;
    height: 230px;
}

.hawaii {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.starwars {
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.game {
    background-color: red;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.credit {
    display: inline;
}

p {
    align-items: center;
    text-align: center;
}