/* global css */
p {
    color: red;
    margin: 0px;
    padding: 5px 0px;
}

/* Landing page */
.wrapper {
    display: flex;
    gap: 150px;
    margin: 0px 20%;
}

.input {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.input p {
    color: white;
    margin-right: 10px;
}

.input input {
    margin: 5px 0px;
}

.button {
    background-color: blue;
    box-shadow: 3px 3px 3px black;
    color: white;
}

.button2 {
    background-color: greenyellow;
    box-shadow: 3px 3px 3px black;
    color: black;
    margin-top: 10px;
}

#required {
    color: orange;
}

.register {
    background-color: rgb(52,57,62);
    color: blue;
    flex: 1;
    padding: 20px;
}

.login {
    background-color: rgb(52,57,62);
    color: greenyellow;
    flex: 1;
    padding: 20px;
}

.register h1, .login h1 {
    margin: 0px;
    padding: 5px;
}