<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    <title>Create User</title>
</head>
<body>
    <div class="create_header">
        <h1>Edit User {{ user.id }}</h1>
        <a href="/user">Home</a>
    </div>
    <form action="/user/update" method="POST">
        <div class="user_input">
            <input type="hidden" name="id" value="{{ user.id }}">
            <label class="input_name" for="first_name">First Name:</label>
            <input type="text" name="first_name" value="{{ user.first_name }}">
            <label class="input_name" for="last_name">Last Name:</label>
            <input type="text" name="last_name" value="{{ user.last_name }}">
            <label class="input_name" for="email" >Email:</label>
            <input type="email" name="email" value="{{ user.email }}">
            <div class="edit_nav">
                <input class="submit_button" type="submit" value="Update User">
                <a href="/user/show/{{ user.id }}">Show User</a>
            </div>
        </div>
    </form>
</body>
</html>