<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    <title>Success</title>
</head>
<body>
    <div class="email_wrapper">
        <h1 class="email_header">Email Addresses Entered</h1>
        <table class="table">
                {% for email in all_emails %}
                <tr>
                    <td>{{ email.email }}</td>
                    <td><a href="/delete/{{email.id}}">Delete</a></td>
                </tr>
                {% endfor %}
        </table>
        <a href="/">Home</a>
    </div>
</body>
</html>